h2.headerlogin {
  text-align: center;
  margin-top: 3rem;
    font-weight: bolder;
    font-size: 3rem;
    color: blue;  
}
h3.headerlogin {
  text-align: center;
  margin-top: 3rem;
    font-weight: bolder;
    font-size: 3rem;
    color: blue;  
}
