<main role="main" class="col-lg-4 col-md-6 col-sm-10 col-xs-12 m-auto">
<br>
<br>
<h2 class="headerlogin">Administrator Login</h2>
    <div>
         <h1 class="mt-4">&nbsp;</h1>
                 <h5 class="mt-5">Login</h5>
        <br />
        <div class="loader" *ngIf="dataLoading"></div>
        <div class="alert alert-danger" role="alert" *ngIf="error">
            oops! : {{ errorMessage }}.
        </div>
        <span class="lead">
            <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
                <div class="form-label-group">
                    <input type="email" name="inputEmail" id="inputEmail" class="form-control"
                        placeholder="Email address" #inputEmail="ngModel" autofocus required email ngModel>
                </div>
                <div class="alert alert-danger" role="alert"
                    *ngIf="inputEmail.invalid && (inputEmail.dirty || inputEmail.touched)">
                    invalid email
                </div>
                <br />
                <div class="form-label-group">
                    <input type="password" name="inputPassword" id="inputPassword" class="form-control"
                        placeholder="Password" #inputPassword="ngModel" required minlength="3" maxlength="20" ngModel>
                </div>
                <div class="alert alert-danger" role="alert"
                    *ngIf="inputPassword.invalid && (inputPassword.dirty || inputPassword.touched)">
                    password should between 3 to 20 chars.
                </div>
                <br />
                <div *ngIf="!loginForm.valid else showSubmitButton">
                    <button class="btn btn-md btn-block" type="submit" disabled>Sign in</button>
                </div>
                <ng-template #showSubmitButton>
                    <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
                </ng-template>
                <p class="mt-5 mb-3 text-muted text-center">
                    <a routerLink="/signup">Need an Account?</a>
                </p>
            </form>
        </span>
    </div>
</main>