<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success ">
    <a class="navbar-brand" href="#" id="logo">TongaLand</a>
     <!-- <img src="../../../assets/monze1.jpg"  alt="" width="28" height="28">
    <img class="card-img-top" src="../../../assets/monze1.jpg" alt="Card image cap"> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/workers"> Workers </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees"> Employees </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bookings"> Bookings </a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/">Contacts</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button>
      </div>
    </div>
  </nav>
</header>
